<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<table align="center">
    <tr>
        <td><a href="/"><span style="color:red">Главная</span></a></td>
        <td>  </td>
        <td><a href="/clothes/"><span style="color:green">Одежда</span></a></td>
        <td>  </td>
        <td><a href="/shoes/"><span style="color:blue">Обувь</span></a></td>
        <td>  </td>
        <td><a href="/accessories/"><span style="color:orange">Аксессуары</span></a></td>
    </tr>
</table>
<hr>

<div id="p01">
    {% block content %}
    <p><span style="color:blue">Интернет-магазин "Оденем, обуем, надуем всех"</span></p>
    <p><b>Главная страница</b></p>
    {{ date_time }}
    {% endblock %}
</div>

<div align="center">
    <hr>
    <img src="https://kartinkof.club/uploads/posts/2023-05/1683375777_kartinkof-club-p-rvanii-botinok-kartinki-5.jpg" alt="Footer picture" width="90" height="50">
    Все права защищены
    <img src="/static/image/shoe.jpg" alt="Footer picture" width="90" height="50">
</div>

</body>
</html>