.button {
    background-color: orange;
    width: 190px;
    height: 35px;
    border: 2px solid royalblue;
    color: darkblue;
    font-weight: 600;
    /*    эффект перехода для button*/
    transition: all 0.4s 0.2s;
}

.button:hover {
    background-color: darkblue;
    color: orange;
    border: 1px solid saddlebrown;
}